/* Sergio Blanco García - UO293686 */
/* Estilos del layout del proyecto MotoGP - Desktop */
header{ /*001*/
    display:flex;
    justify-content: space-around;
    flex-shrink: 3;
    align-items: center;
}
header nav{ /*002*/
    display:flex;
    gap:2rem;
}
Video { /*001*/
    width:80%;
    height:auto;
}
audio{ /*001*/
    width:80%;
}

@media (min-width: 320px) and (max-width: 799px){
    header{ /*001*/
        order:1;
    }
}

@media (min-width: 800px){
}