/* Sergio Blanco García - UO293686 */
/* Estilos del layout del proyecto MotoGP - Desktop */
header{ /*001*/
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;  
}
header nav{ /*002*/
    display:flex;
    gap:2rem;
}
video { /*001*/
    width:80%;
    height:auto;
}
audio{ /*001*/
    width:80%;
}
article h2 + img { /*003*/
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

main > div:last-of-type {/*012*/
    width: 60%;
    height: 50vh;
    margin-bottom: 2rem
}

@media (min-width: 320px) and (max-width: 799px){
    /*Redefiniciones para dispositivos móviles*/
    header{ /*001*/
        display:flex;
        flex-direction:column;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem; 
        padding-bottom: 2rem;
    }
    header nav{ /*002*/
        display:flex;
        flex-direction:column;
    }
    header + p{ /*002*/
        display: none;
    }
    article h2 + img {/*003*/
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
   
    main > div:last-of-type {/*012*/
        width: 100%;
        height: 50vh;
        margin-bottom: 2rem
    }
}